header {
    padding: 30px 0 30px 0;
    width: 1300px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    justify-content: center;
    position: relative;

}

.header__button {
    position: absolute;
    right: 10%;
    top: 25%;
}

.ttl {
    padding: 30px 0 30px;
    width: 1300px;
    margin: 0 auto;
}

.form {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form__text {
    width: 30%;
    font-size: 1.8rem;
    color: #82756a;
    border: 2px solid #ded5cd;
    background-color: #fbfbfb;
    text-indent: 0.5em;
}

.form__gender {
    width: 7%;
    border-color: #ded5cd;
    background-color: #f4f4f4;
    text-indent: 0.5em;
    position: relative;
    border: 2px solid #ded5cd;
}

.form__gender--select {
    font-size: 1.8rem;
    color: #82756a;
    border: none;
    background-color: #f4f4f4;
    appearance: none;
    line-height: 50px;
}

.form__gender::before {
    content: "";
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__category {
    width: 20%;
    font-size: 1.8rem;
    color: #82756a;
    border-color: #ded5cd;
    background-color: #f4f4f4;
    text-indent: 0.5em;
    position: relative;
    border: 2px solid #ded5cd;
}

.form__category--select {
    font-size: 1.8rem;
    color: #82756a;
    border: none;
    background-color: #f4f4f4;
    appearance: none;
    line-height: 50px;
}

.form__category::before {
    content: "";
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__date {
    width: 13%;
    font-size: 1.8rem;
    color: #82756a;
    border: 2px solid #ded5cd;
    background-color: #f4f4f4;
    text-indent: 0.5em;
    position: relative;
}

input[type="date"] {
    width: 13%px;
    position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form__date--input {
    font-size: 1.8rem;
    color: #82756a;
    border: none;
    background-color: #f4f4f4;
    appearance: none;
    line-height: 50px;
}

.form__date::before {
    content: "";
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cccccc transparent transparent transparent;
    position: absolute;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 5;
}

.form__search {
    width: 11%;
    white-space: nowrap;
}

.form__reset {
    width: 11%;
    white-space: nowrap;
}



.space {
    width: 1300px;
    margin: 3vh auto 3vh;
    display: flex;
    justify-content: space-between;
}

.space__pagenate {
    border-radius: 10px;
}

.space__pagenate.active {
    background-color: #82756a;
}

.pagination a {
    border-radius: 10px;
}


.table {
    width: 1300px;
    margin: 3vh auto 3vh;
}

.table__top {
    background-color: #8b7969;
    padding: 1vh 0 1vh 0;
}

.table__content {
    border: 2px solid #f4f4f4;
    padding: 1vh 0 1vh 0;
}

.tr {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.th {
    text-align: left;
    line-height: 45px;
    color: white;
    font-size: 1.8rem;
}

.td {
    text-align: left;
    line-height: 45px;
    font-size: 1.8rem;
}

.name {
    width: 10%;
    margin-left: 5%;
    white-space: nowrap;
}

.gender {
    width: 8%;
}

.email {
    width: 25%;
    white-space: nowrap;
}

.category {
    width: 25%;
}

.button {
    width: 10%;
    margin-right: 5%;
}



.modal {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #baa899;
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.modal__btn--back {
    margin: 2vh 3vw 3vh 0;
    width: 900px;
    text-align: right;
}

.modal__btn--back-btn {
    width: 50px;
    height: 50px;
    color: #baa899;
    font-size: 3rem;
    margin: 0 auto;
    background: none;
    border: 1px solid #baa899;
    border-radius: 50%;
}

.modal__table {
    width: 1000px;
}

.modal__table--tr {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 0 1.5vh 0;
}

.modal__table--th {
    width: 20%;
    color: #82756a;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
}

.modal__table--td {
    width: 50%;
    font-size: 1.8rem;
    text-align: left;
    margin-right: 10%;
}

.modal__btn--delete {
    width: 1000px;
    text-align: center;
    margin: 8vh 0 6vh;
}