header {
    background-color: white;
}

body {
    background-color: #f1ece6;
}



.header__item {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__button {
    position: absolute;
    right: 10%;
    top: 25%;
}

.login {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 5vh 0 5vh 0;
    border-radius: 10px;
    border: 2px solid #ded5cd;
}

.login__email {
    width: 70%;
    margin: 0 auto;
}

.login__password {
    width: 70%;
    margin: 5vh auto 0;
}

.login__text {
    font-size: 2.5rem;
}

.login__input {
    width: 100%;
    border: none;
    background-color: #f4f4f4;
    padding: 2vh 0 2vh 0;
    text-indent: 2rem;
    color: #82756a;
}

.login__button {
    text-align: center;
    margin-top: 8vh;
}